.grid-container{
    display: grid;
    align-content: space-between;
    grid-template-columns: auto auto auto;
    background: red;
    padding: 10px;
    grid-gap: 20px;
    height: 400px;
}
.grid-item{
    border: 1px solid white;
    padding: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    
}
