.box{
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
    transition-timing-function: linear;
}
.box:hover{
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}