h2{
    font-size: 90px;
    text-align: center;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
.seum{
    width: 400px;
    text-align: center;
    margin: auto;
    border: 1px solid #d4d4d4;
}
.seum img{
    width: 100%
}
.container{
    padding: 10px;
}
.seum h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
}
.seum:hover{
     box-shadow: 10px 10px rgba(0,0,0,1)
}