.bg{
    width: 400px;
    height: 250px;
    background: url('../pic/download.jpg') no-repeat center / cover;
    overflow: hidden;
}
.box p{
    text-align: center;
    background: #fff;
    padding: 30px;
    opacity: 0.6;
    margin-top: 100px;
}